<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>

<body>
    <div>
        <h1>Login</h1>
        <form method="post" action="#" th:action="@{/login}" th:object="${user}">
            <p>Username:</p>
            <input id="inputUsername" th:field="*{username}" type="text">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            <p>Password:</p>
            <input id="inputPassword" th:field="*{password}" type="password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input id="submitForm" type="submit" value="Send">
            <p>If you are not yet registered <a href="/registration">Click here</a></p>
        </form>
    </div>
</body>

</html>